{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/cart.css' %}">

    <div class="container">
        <div class="content">

            {% load cart_tag %}
            <h2 align="center">Корзина</h2>
            <div style="display: flex; justify-content: space-between;" class="mt-4">
                <span>Всего товаров: {{request.session.cart|length}}</span>
                <span><a href="{% url 'cart_clear' %}">Очистить</a></span>
            </div>              
            
            <table>
                <thead><tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                </tr></thead>
                <tbody>
                    {% for key, value in request.session.cart.items %}
                    <tr>
                        <td>{{value.name}}</td>
                        <td><b><a href="{% url 'item_decrement' value.product_id %}">-</a></b>
                            {{value.quantity}}
                            <b><a href="{% url 'item_increment' value.product_id %}">+</a></b>
                        </td>
                        <td>{{ value.price|multiply:value.quantity }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><b>Общая стоимость</b></td>
                        <td></td>
                        <td><b>{{total}}</b></td>
                    </tr>
                </tbody>
            </table>
            
            <div style="text-align:center; font-size: 1.25em;" class="mt-3"><a href="{% url 'make_order' %}">Заказать</a></div>
        </div>
    </div>

    <div id="footer">
        <a href="{% url 'products' %}">Магазин</a>
    </div>

    <script>
        window.onload = function () {
            document.querySelector('.content').classList.add('show');
            document.querySelector('#footer').classList.add('show')
        }
    </script>

{% endblock %}
