{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/products.css' %}">

    <div class="container">
        <div class="content">

            <div class="cat-list">
                {% if is_all %}
                <div class="cat-item active m-1 p-1"><a href="{% url 'products' %}">Все товары</a></div>
                {% else %}
                <div class="cat-item m-1 p-1"><a href="{% url 'products' %}">Все товары</a></div>
                {% endif %}
                {% for c in cats %}
                {% if c != active_cat %}
                <div class="cat-item m-1 p-1"><a href="{% url 'products_by_category' c.slug %}">{{c.name}}</a></div>
                {% else %}
                <div class="cat-item active m-1 p-1">{{c.name}}</div>
                {% endif %}
                {% endfor %}
            </div>
            
            <div class="product-list">
                {% for item in page_obj %}
                {% if item.available %}
                <div class="product-item mt-2 mx-1">
                    <img src = "{{ item.image.url }}" width="100px", height="150px" align="left" vspace="5" hspace="5">
                        <p class="pt-2"><a href="{% url 'product' item.slug %}">{{item.name}}</a></p>
                        <p class="pt-3">Стоимость: {{item.price}} руб.</p>
                        <p class="pt-3"><a href="{% url 'cart_add' item.id %}">Добавить в корзину</a></p>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            {% if page_obj.has_other_pages %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?page=1">Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <span class="page-current">{{ i }}</span>
                {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                {% endif %}
            </div>
            {% endif %}
            
        </div>
    </div>

    <div id="footer">
        <a href="{% url 'home' %}">Домой</a>
        {% if request.session.cart|length %}
        <a href="{% url 'cart_detail' %}" class="ms-3">Корзина</a>
        {% endif %}
    </div>

    <script>
        window.onload = function () {
            document.querySelector('.content').classList.add('show');
            document.querySelector('#footer').classList.add('show')
        }
    </script>

{% endblock %}