input {
    font-size: 16px;
    line-height: 14px;
    padding: 8px 16px;
    width: 70%;
    min-height: 33px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(72, 177, 188);
    background-color: rgb(255, 255, 255);
}

select {
    font-size: 16px;
    line-height: 14px;
    padding: 8px 8px;
    width: 50%;
    min-height: 33px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(72, 177, 188);
    background-color: rgb(255, 255, 255);
}
