{% extends 'shop/base.html'%}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'shop/css/center_content.css' %}">
<div class="box">
    <div class="content">
        <p>
            <b>Добро пожаловать в "TheFineTouch"</b> — уникальный магазин, где ваш стиль и индивидуальность могут проявиться в самом изысканном виде! Мы специализируемся на широком ассортименте цепей на шею, повесток и браслетов, предлагая самые элегантные и модные изделия для тех, кто стремится подчеркнуть свою индивидуальность и создать неповторимый образ.<br>
            В нашем магазине вы найдете цепи, повестки и браслеты, выполненные из различных материалов высочайшего качества: золота, серебра, платины, натуральных камней и многих других. Наша команда талантливых дизайнеров постоянно следит за последними модными тенденциями, чтобы предложить вам самые стильные и актуальные коллекции.<br>
            Наш дружелюбный и профессиональный персонал всегда готов помочь вам выбрать идеальную цепь, повестку или браслет, подходящий как для повседневного использования, так и для особого случая.<br>
        </p>
        <h6><b>Связаться с нами: </b></h6>
        <ul>
            <li>Электронная почта - vvnikita.74@yandex.ru</li>
            <li>Номер телефона - 89269944503</li>
            <li>Мы в Telegram - @yungnik74 </li>
        </ul>
    </div>
</div>

{% endblock %}