{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'shop/css/auth.css' %}">
<div class="box">
    <form method="POST">
        {% csrf_token %}
        <div class="content">
            <div class="errors">
                {{ form.errors }}
            </div>
            {% for f in form %}
            <div class="form-field">
            <label for="{{ f.id_for_label }}" class="pt-2">{{f.label}} </label>
            {{ f }}<br>
            </div>
            {% endfor %}
            <button type="submit" class="mt-4">Зарегистрироваться</button>
        </div>
    </form>
</div>
{% endblock %}