{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'fitness_network/css/style.css' %}">
    <title>У Папы</title>
</head>
<body link=#00ade7>
    <div class="topnav" id="myTopnav">
        <img src="{% static 'fitness_network/images/logo.png' %}" alt="logo" width=50, height=50>
        <a href="{% url 'home' %}">Сеть фитнес-центров "У Папы"</a>
        {% if request.user.is_authenticated %}
            <div class="dropdown">
                <button class="dropbtn">{{ user.username }}<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href = {% url 'profile' %}>Профиль</a>
                    <a href = {% url 'logout' %}>Выход</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'register' %}">Регистрация</a>
            <a href="{% url 'login' %}">Вход</a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>