{% extends 'base.html' %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'fitness_network/css/index_style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'fitness_network/css/center_style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'fitness_network/css/profile_style.css' %}">
    <div class="filterDiv show">
        <h3 align="center">{{ user.username }}</h3>
        <h4>{{ user.full_name }}, список Ваших заказов</h4>
        <table border="5" bordercolor="#636363">
            <thead>
                <tr>
                    <th>Фитнес-центр</th>
                    <th>Занятие</th>
                    <th>Тренер</th>
                    <th>ФИО заказчика</th>
                    <th>Дата заказа</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.center_title }}</td>
                        <td>{{ order.activity }}</td>
                        <td>{{ order.worker }}</td>
                        <td>{{ order.user.full_name }}</td>
                        <td>{{ order.order_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}